<div class="principal">

      <div class="poesia">
        <%= @estrofe1 %><br/>
        <%= @estrofe2 %>
        <%= @estrofe3 %><br/>
        <%= @estrofe4 %>
        <%= @estrofe5 %>
        <%= @estrofe6 %><br/>
        <%= @estrofe7 %>
      </div>

</div>

<div class="buttons">
  <%= form_for :request, :url => {:controller => 'home', :action => 'index'} do |form| %>
    <div class="main_buttons">
        <%= form.submit 'GERAR REFRÃO', :class => 'gerarRefrao' %>
        <input type="button" value="COPIAR (CTRL+C)" class="copiar" />
    </div>
    <div class="share_buttons">
        <%= link_to image_tag('bt_facebook.png'), '#', :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u=http://www.naldogenerator.com', '', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');" %>
        <%= link_to image_tag('bt_twitter.png'), '#', :onclick => "window.open('https://twitter.com/intent/tweet?url=http://www.naldogenerator.com', '', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');" %>
    </div>
  <% end %>
</div>

<div class="fb-comments" data-href="http://www.naldogenerator.com" data-width="600" data-numposts="10" data-colorscheme="dark"></div>

<div class="banners">
  <%= link_to image_tag('banner-formulanegocioonline-300-14.jpg'), 'http://hotmart.net.br/show.html?a=A1485314B' %>
  <%= link_to image_tag('softwareboxopentop-menor.png'), 'http://hotmart.net.br/show.html?a=J1258748B' %>
</div>

<script>

    $(".copiar").zclip({
        path: "/assets/ZeroClipboard.swf",
        copy: function(){
            return $('.poesia').text();
        }
    });


</script>